body {
    padding-top: 60px;
}

main {
    padding: 20px;
}

.pd30Cent {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pdT10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pdT50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cent {
    text-align: center;
}

.just {
    text-align: justify;
}

.mW6 {
    max-width: 400px;
}

img.med {
    width: 400px;
    height: 400px;
}

img.sml {
    width: 100px;
    height: 100px;
}

img.cir {
    border-radius: 50%;
}

.wh {
    color: #FAFAEB;
}

.bg {
    color: #CFB88F;
}

.rd {
    color: #AD3D2B;
}

.yw {
    color: #E3B668;
}

.db {
    color: #111523;
}