body {
    padding-top: 60px;
}

main {
    padding: 20px;
}

.pd30Cent{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right:auto
}

img.med {
    width: 500px;
    height: 500px;
}

img.sml {
    width: 100px;
    height: 100px;
}

img.cir {
    border-radius: 50%;
}

.cent {
    text-align: center;
}

.just {
    text-align: justify;
}

.pdT20 {
    padding-top: 20px;
}

.wh {
    color: #FAFAEB;
}

.bg {
    color: #CFB88F;
}

.rd {
    color: #AD3D2B;
}

.yw {
    color: #E3B668;
}

.db {
    color: #111523;
}

.bckg{
    background-color: white;
}

/*img*/

.imgBorder{
    
    border: 8px solid #CFB88F;
}

.borderRed{
    
    border: 8px solid #AD3D2B;
}

img.smed{
    width: 350px;
    height: 350px;
}

/*Forms*/
input[type=text] {
    outline: none !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #CFB88F;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
  }
  
  input[type=text]:focus {
    border: 3px solid #AD3D2B !important;
    outline: 0 !important;
  }


  #bt {
    background-color: white; 
    color: black; 
    border: 2px solid #E3B668;
  }
  
  #bt:hover {
    background-color: #E3B668;
    color: white;
  }